<!doctype html>
<html>
    <head>
        <title>Registration Page</title> 
    </head>

<body>
    <form action="login" method="POST">
        <label for="Name">Name</label><br>
        <input type="text" name="name"><br><br>

        <label for="username">Username</label><br>
        <input type="text" name="username"><br><br>

        <label for="password">Password</label><br>
        <input type="password" name="password"><br><br>
        
        <input type="checkbox" name="company">
        <label for="checkbox">Audit Company Register</label><br><br>

        <input type="submit" value="Register">
    </form>
</body>
</html>